<!DOCTYPE html>
<html lang="es">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Proyecto Terminal{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/baseStyles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <!-- this is for extra css files  -->
    {% block extra_css %}
    
    
    {% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <!-- Marca o logotipo -->
            <a class="navbar-brand" href="">GamerX</a>

            <!-- Buscador -->
            <div class="search-container">
                <input type="text" placeholder="Buscar..." id="search-input">
                <button type="submit" class="search-button">🔍</button>
            </div>
        </div>

        <!-- Apartados -->
        <div class="nav-links">
            <a href="">Apartado 1</a>
            <a href="">Apartado 2</a>
            <a href="">Apartado 3</a>
        </div>

        <!-- Imagen de perfil -->
         
        {% if user.is_authenticated %}
            {% if user.imagen_perfil %}
            <div class="profile">
                <div class="cart-container">
                    <img src="{% static 'icons/cart.svg' %}" alt="Carrito de Compras" class="cart-icon">
                </div>
                <img src="{{ user.imagen_perfil.url }}" alt="Perfil" class="profile-pic">
            </div>
            {% else %}
            <div class="profile">
                <!-- <img src="{% static 'icons/cart.svg' %}" alt="Carrito de Compras" > -->
                <a href="{% url 'carrito_app:Carrito_view' %}">
                    <img src="{% static 'icons/cart.svg' %}" alt="Carrito de Compras" >
                </a>
            </div>
            <div class="profile">
                <img src="{% static 'images/no_image_profile/no_profile_image.webp' %}" alt="Perfil" class="profile-pic">
            </div>
            {% endif %}
        {% else %} 
            <div class="nav-links">
                <a class="" href="{% url 'Users_app:login' %}">Login</a>
                <a class="" href="{% url 'Users_app:create_user_view' %}">Register</a>
            </div>
        {% endif %}
    </nav>

    {% block content %}
    <!-- Aquí va el contenido específico de cada página -->
    {% endblock %}
</body>
</html>
