<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activar cuenta</title>
</head>
<body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h1>Activar cuenta</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.username.label_tag }}
        {{ form.username }}
        <button type="submit" name="btnUsername">Enviar correo</button>

        {{ form.code.label_tag }}
        {{ form.code }}
        <button type="submit" name="btnVerificar">Activar cuenta</button>

        <h3>¿No te llegó el código?</h3>
        <button type="submit" name="btnReenviar">Enviar código nuevamente</button>
    </form>

</body>
</html>
