
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 4;
}

.product-container {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.product-image-container {
    margin-left: 20px;
    flex-basis: 40%; /* Ajusta el espacio que ocupa la imagen */
    display: flex;
    justify-content: left;
    align-items: center;
}

.product-image {
    width: 80%;  /*es este para la imagen*/
    height: auto;
    max-height: 600px; /* Ajusta la altura máxima de la imagen */
    object-fit: cover;
    border: 3px solid #00ff00; /* Borde de la imagen */
    border-radius: 10px;
}


.product-detail-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
    color: #00ff00;  /* Mantener la estética terminal */
    font-family: "Courier New", Courier, "Lucida Console", Monaco, monospace;
}


.product-details {
    color: #00ff00;
    font-family: "Courier New", Courier, "Lucida Console", Monaco, monospace;
    max-width: 60%;
}

.product-details h1 {
    flex-basis: 60%; 
    font-size: 36px;
    margin-bottom: 20px;
}

.product-details p {
    font-size: 18px;
    margin-bottom: 20px;
}

.product-price {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}


.product-details .label {
    font-weight: bold;
    color: #00ff00;
    margin-bottom: 5px;
}



.stock-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: inherit;
    color: #00ff00;
}

.stock-button {
    padding: 10px;
    border: 2px solid #00ff00;
    background-color: #2d2d2d;
    color: #00ff00;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stock-button:disabled {
    background-color: #434141;
    cursor: not-allowed;
}


.submit-button {
    width: 100%;
    padding: 10px;
    border: 2px solid #00ff00;
    background-color: #00ff00;
    color: #2d2d2d;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}


.submit-button:hover {
    background-color: #2d2d2d;
    color: #00ff00;
    border-color: #00ff00;
}
